modules = ["nodejs-20"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5056
externalPort = 3000

[run]
command = "npm run dev"

[nix]
channel = "legacy"

[deployment]
build = ["sh", "-c", "npm ci && npm run db:migrate && npm run build"]
run = ["sh", "-c", "npm run start"]
